<center>
  <h3>Menu</h3>
  <p>
    <strong>Menu_Type:</strong>
    <%= @menu.menu_type %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @menu.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= @menu.price %>
  </p>
  <%= link_to 'Back', menus_path %>
</center>
