<center>
	<h3>Invoices</h3>
	<p>
	  <strong>Code:</strong>
	  <%= @invoice.code %>
	</p>
	<p>
	  <strong>Amount:</strong>
	  <%= @invoice.amount %>
	</p>
	<%= link_to 'Back', invoices_path %>
</center>