<center>
  <h3>Orders</h3>
  <p>
    <strong>Code:</strong>
    <%= @order.code %>
  </p>
  <p>
    <strong>Food_Details_With_Quantity:</strong>
    <%= @order.food_details_with_quantity %>
  </p>
  <%= link_to 'Back', orders_path %>
</center>